<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>Library App</title>
	<meta name="generator" content="Bootply" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- bower:css -->
	<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
	<!-- endbower-->
	<!-- bower:js -->
	<script src="/lib/jquery/dist/jquery.js"></script>
	<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
	<!-- endbower-->

	<!-- inject:css -->
	<link rel="stylesheet" href="/css/styles.css">
	<!-- endinject -->
	<!-- inject:js>
	<!-- endinject -->

	<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
	<header class="navbar navbar-bright navbar-fixed-top" role="banner">
		<div class="container">
			<div class="navbar-header">
				<a href="/" class="navbar-brand">Home</a>
			</div>
			<nav class="collapse navbar-collapse" role="navigation">
				<ul class="nav navbar-nav">
					<% for(var i=0; i<nav.length; i++){%>
						<li>
							<a href="<%=nav[i].Link%>">
								<%=nav[i].Text%>
							</a>
						</li>
					<%}%>
				</ul>
			</nav>
		</div>
	</header>

	<div id="masthead">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<h1>Library App
						<p class="lead">Building Web Applications with Node.js and Express</p>
					</h1>
				</div>
			</div>
		</div>

		<!-- /cont -->
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="top-spacer"> </div>
				</div>
			</div>
		</div>
		<!-- /cont -->
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-body">
						<div class="row">
							<!-- ====================CADASTRO===================== -->
							<div class="col-md-6 col-sm-3 text-center">
								<h3>Cadastro</h3>

								<form name="signUpForm" action="/auth/singUp" method="post">
									<div class="form-group">
										<label class="cols-sm-2 control-label">Usuário</label>
										<div class="cols-sm-10">
											<div class="input-group">
												<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
												<input class="form-control" type="text" name="username" id="username" placeholder="Digite um Username..." />
											</div>
										</div>
									</div>

									<div class="form-group">
										<label class="cols-sm-2 control-label">Senha</label>
										<div class="cols-sm-10">
											<div class="input-group">
												<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
												<input type="text" class="form-control" name="password" id="password" placeholder="Digite uma senha..." />
											</div>
										</div>
									</div>

									<div class="form-group ">
										<input type="submit" value="Cadastrar" class="btn btn-primary btn-lg btn-block login-button">
									</div>
								</form>
							</div>
							<!-- ====================LOGIN===================== -->
							<div class="col-md-6 col-sm-3 text-center">
								<h3>Login</h3>

								<form name="signInForm" action="/auth/singIn" method="post">
									<div class="form-group">
										<label class="cols-sm-2 control-label">Usuário</label>
										<div class="cols-sm-10">
											<div class="input-group">
												<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
												<input class="form-control" type="text" name="username" id="username" placeholder="Digite seu Username..." />
											</div>
										</div>
									</div>

									<div class="form-group">
										<label class="cols-sm-2 control-label">Senha</label>
										<div class="cols-sm-10">
											<div class="input-group">
												<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
												<input type="text" class="form-control" name="password" id="password" placeholder="Digite sua senha..." />
											</div>
										</div>
									</div>

									<div class="form-group ">
										<input type="submit" value="Login" class="btn btn-primary btn-lg btn-block login-button">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>